{#=== Options ============================================================================#}

{% set attr_opt = {
class:              'form-control '~field.class|default(''),
name_id:            key,
required:           field.required|default(false),
readonly:           field.readonly|default(false),
type:               field.hidden ? 'hidden' : 'text',
'data-format':      field.format|default('rgba'),
'data-inline':      field.inline ? 'true' : 'false',
'data-horizontal':  field.horizontal ? 'true' : 'false',
'data-align':       field.align|default('left')
}%}

{#=== FIELDSET ============================================================================#}

<fieldset class="bootstrap-colorpicker form-group bolt-field-bootstrapcolorpicker">
    <label class="main control-label col-xs-12" for="{{key}}">{{field.label|default(key)}}:</label>
    <div class="col-xs-12">
        <div id="{{key}}wrapper" class="input-group {% if field.component %}colorpicker-component{% endif %}">
            <input {{ macro.attr(attr_opt) }} data-container=".{{key}}container" value="{{ context.content.get(key)|default('rgba(0,0,0,1)') }}" data-color="{{ context.content.get(key)|default('rgba(0,0,0,1)') }}"/>
            {% if field.component %}<span class="input-group-addon"><i></i></span>{% endif %}
        </div>
        <div class="{{key}}container"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#{{ key }}{% if field.component %}wrapper{% endif %}').colorpicker().on('changeColor.colorpicker', function(event){
                  $(this).val(event.color);
                }).colorpicker('setValue', '{{ context.content.get(key)|default('rgba(0,0,0,1)') }}');
            })
        </script>
    </div>
</fieldset>
